<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf課題</title>
</head>
<body>
    <h1 th:text="#{content.title}"></h1>
    <h2 th:text="#{content.nyuryokugamen}"></h2>
    <p th:text="#{content.nyuryoku}"></p>
    <p th:if="${previous}" th:text="'前回入力された値は「' + ${previous} + '」でした。'"></p>

        <form method="post" action="/output">
        <input type="text" name="previous">
        <button type="submit" th:text="#{content.btn}"></button>
    </form>
</body>
</html>

